* {
    padding: 0;
    margin: 0
}

html {
    height: 140%;
}

#body-cadreq {
    background: linear-gradient(90deg, #DBFC60 0%, #78FF47 100%);
}

#voltar {
    display: block;
    padding: 10px 40px;
}

#container {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 870px;
    width: 1000px;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 2%;
    padding-top: 30px;
    box-shadow: 10px 10px;
    padding: 25px 0 50px 0;
}
    
#texto-cadastro {
    text-align: center;
    font-size: 30px;
}

#desc-field {
    resize: none;
}

#id-field {
    appearance: none;
    text-align: center;
    width: 50px;
    height: 30px;
    margin-left: 120px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

#form-requisito {
    margin: 60px;
    margin-left: 22%;
    margin-top: 8%;
}

#cod-field {
    width: 50px;
    height: 30px;
    margin-left: 75px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

#comp-field{
    width: 50px;
    height: 30px;
    margin-left: 11px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

input[type="text"] {
    width: 500px;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}

input[type="text"], input[type="number"], textarea {
    border-radius: 15px;
    box-shadow: 5px 5px;
    border: 2px solid black;
}

input[type="radio"] {
    margin-left: 50px;
}

#prioridade {
    margin-top: 30px;
    margin-bottom: 30px;
}

textarea {
    width: 500px;
    height: 170px;
    padding: 15px;
}

#acoes {
    margin-left: 6.5%;
    margin-top: 25px;
}

hr {
    width: 535px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#button-salvar-cad, #button-excluir-cad, #button-limpar, #button-relatorio-cad {
    padding: 10px;
    margin: 15px;
    width: 80px;
    height: 55px;
    text-align: center;
    transition: box-shadow 0.25s ease-in-out;
    padding: 6px;
    border-radius: 15px;
    box-shadow: 5px 5px;
    border: 2px solid black;
}

#button-salvar-cad:hover, #button-excluir-cad:hover, #button-limpar:hover #button-relatorio-cad:hover {
    box-shadow: 0px 0px;
}

#button-salvar-cad {
    background-color: #28E830;
}

#button-excluir-cad {
    background-color: #FF3A19;
}

#button-relatorio-cad {
    background-color: #FF9900;
}

